{% extends "bootstrap4/base.twig" %}

{% block title %}
    CT {{workId}}-{{chunkNumber}} table {{ tableId }}
{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/bootstrap4/collationtable.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/bootstrap4/collation.edit.css" />
{% endblock %}

{% block extraJS %}
    <script type="text/javascript" src="{{baseurl}}/node_modules/twig/twig.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/dist/CollationTableEdit.bundle.js"></script>
{% endblock %}

{% block finalBodyJS %}
<script type="module">
  $(function() {
    let ctData  = JSON.parse("{{collationTableData|json_encode|e('js')}}")
    let peopleInfo = JSON.parse("{{peopleInfo|json_encode|e('js')}}")
    let workInfo = JSON.parse("{{workInfo|json_encode|e('js')}}")
    let docInfo = JSON.parse("{{docInfo|json_encode|e('js')}}")
    let versionInfo = JSON.parse("{{versionInfo|json_encode|e('js')}}")
    let userId = {{ userId }}

    console.log(ctData)
    console.log(peopleInfo)
    console.log(workInfo)
    console.log(docInfo)
    console.log(versionInfo)
    console.log('User ID: ' + userId )

    let te = new CollationTableEditor({
      userId: userId,
      collationTableData : ctData,
      workId: '{{ workId }}',
      chunkNumber: {{ chunkNumber }},
      tableId: {{ tableId }},
      urlGenerator: new ApmUrlGenerator('{{ baseurl }}'),
      peopleInfo: peopleInfo,
      workInfo: workInfo,
      docInfo: docInfo,
      versionInfo: versionInfo
    })
  })
</script>
{% endblock %}

{% block content %}
<nav aria-label="breadcumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('chunk', {'work' : workId, 'chunk': chunkNumber})}}">{{workId}}-{{chunkNumber}}</a></li>
        <li class="breadcrumb-item active"><span id="breadcrumb-cttitle"></span></li>
    </ol>
</nav>

    <div class="row">
        <div class="col-md-8">
            <div id="collationtabletitle">
                <h1><span id="cttitletext"></span></h1>
            </div>
            <div id="collationtableinfo"></div>
            <div id="collationtableactions"></div>
        </div>
        <div class="col-md-4 text-right" id="save-area">
            <h1><button class="btn btn-primary btn-sm hidden" id="savebutton">Save Changes</button></h1>
            <p><small>Last Save: <span id="lastSave">...</span></small></p>
            <div class="hidden" id="save-msg"></div>
        </div>
    </div>

    <div id="status" class="text-danger"></div>


    <ul class="nav nav-tabs" role="tablist" id="tabsUl">
        <li id="collationTableTabHeader" role="presentation" class="nav-item">
            <a role="tab" class="nav-link active" data-toggle="tab" href="#collationtablepanel">Collation Table</a>
        </li>
        <li id="editionTabHeader" class="nav-item" role="presentation">
            <a role="tab" class="nav-link" data-toggle="tab" id="edition-tab-title" href="#editiondiv-panel">Quick Edition</a>
        </li>
        <li id="witnessesTabHeader" class="nav-item" role="presentation">
            <a role="tab" class="nav-link" data-toggle="tab" href="#witnessesdiv">Witness Info</a>
        </li>
        <li id="versionHistoryTabHeader"  class="nav-item" role="presentation">
            <a role="tab" class="nav-link" data-toggle="tab" href="#versionhistorydiv">Version History</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active panetab nomargin-panel" id="collationtablepanel">
            <div class="ct-toolbar">
                <div class="ct-toolbar-section">
                    <div class="ct-toolbar-group" id="mode-toggle">
                    </div>
                    <div class="ct-toolbar-group">
                        <span id="popovers-toggle"></span>
                    </div>
                </div>
                <div>
                    <a id="export-csv-button" class="tb-button"  download="apm-collationtable.csv"
                       title="Download CSV"><small>CSV</small><i class="fas fa-download"></i></a>
                </div>

            </div>
            <div id="collationtablediv"><div class="loading">Loading table...  <i class="fas fa-circle-notch fa-spin"></i></div></div>
        </div>
        <div role="tabpanel" class="tab-pane panetab nomargin-panel" id="editiondiv-panel">
            <div class="ct-toolbar">
                <div>
                </div>
                <div>
                    <a id="export-svg-button" class="tb-button"  download="apm-quick-edition.svg"
                       title="Download SVG"><small>SVG</small> <i class="fas fa-download"></i></a>
                    <a id="export-pdf-button" class="tb-button margin-left-med" href="#" download="apm-quick-edition.pdf"
                       title="Download PDF"><small>PDF</small> <i class="fas fa-download"></i></a>
                </div>
            </div>
            <div id="edition-svg-div">

            </div>
            <div id="edition-engine-info-div"></div>
        </div>
        <div role="tabpanel" class="tab-pane panetab" id="witnessesdiv">
            <div class="witnessinfotable"></div>
            <div class="witness-update-div">
                <span class="witness-update-info"></span>
                <button class="btn  btn-outline-secondary btn-sm check-witness-update-btn"  title="Click to check for updates to witness transcriptions">Check Now</button>
            </div>
            <div id="convert-to-edition-div">
                <button id="convert-to-edition-btn" class="btn btn-primary" title="Click to add a main text">Add Main Text</button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane panetab" id="versionhistorydiv"></div>
    </div>

{% endblock %}

