{% extends "bootstrap4/base.twig" %}
{% import 'bootstrap4/macros.twig' as macros %}

{% block title %}CT {{workId}}-{{chunkNumber}} ({{ tableId }}){% endblock %}

{% block extraJS %}

{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('chunk', {'work' : workId, 'chunk': chunkNumber})}}">{{workId}}-{{chunkNumber}}</a></li>
        <li class="breadcrumb-item">Collation table {{ tableId }}</li>
    </ol>
</nav>

<h1>Collation Table {{ tableId }}</h1>

    <div class="alert alert-danger" role="alert">
        <h1><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Error</h1>
        <p class="lead">{{message|raw}}</p>
    </div>



{% endblock %}

