{% extends "bootstrap4/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/bootstrap4/dashboard.css"/>
{% endblock %}


{% block extraJS %}

<script>
    $(function() {

        let  tableInfo = JSON.parse("{{tableInfo|json_encode|e('js')}}")
        let urlGenerator = new ApmUrlGenerator('{{ baseurl }}')


      function genCollationTableInfoHtml(tableInfo, urlGen) {
        let html = ''

        html += '<ul class="list-indented">'
        for(const info of tableInfo) {
          html += '<li><a target="_blank" href="' +  urlGen.siteEditCollationTable(info['id'])  + '">' + info['chunkId'] + ': ' + info['title'] + '</a></li>'
        }
        html += '</ul>'
        return html
      }

      $('#mycollationtables').html(genCollationTableInfoHtml(tableInfo, urlGenerator))

      //$('#mymss').collapse('show')
      //$('#mycollationtables').collapse('show')

    })
</script>
{%  endblock %}

{% block content %}
<div class="dashboard">
    <section>
        <h1>
            <a role="button" title="Click to show/hide list" data-toggle="collapse" href="#mymss" aria-expanded="true" aria-controls="mymss">
                <i class="fas fa-caret-right"></i></a>
            My Manuscripts / Prints
        </h1>

        <div class="collapse show" id="mymss">
            <ul class="list-indented">{{doclist|raw}}</ul>
            <a href="{{url_for('docs')}}">View all documents</a>
        </div>
    </section>

    <section>
        <h1>
            <a role="button" title="Click to show/hide list" data-toggle="collapse" href="#mycollationtables" aria-expanded="true" aria-controls="mycollationtables">
                <i class="fas fa-caret-right"></i></a>
            My Collation Tables
        </h1>
        <div class="collapse" id="mycollationtables"></div>
    </section>

    <section>
        <h1>Admin</h1>
        <ul>
            <li><a href="{{url_for('user.profile', {'username' : userinfo.username})}}">Edit profile / Change Password</a></li>
        </ul>
    </section>
</div>
{% endblock %}
