{#

User manager template

#}
{% extends "bootstrap4/base.twig" %}

{% block title %}Averroes Project : User Manager{% endblock %}

{% block extraJS %}
    <script type="text/javascript" src="{{baseurl}}/node_modules/bootstrap-validator/dist/validator.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/UserManagerPage.js"></script>
<script>
    $( () => {
        new UserManagerPage({
            urlGenerator: new ApmUrlGenerator('{{baseurl}}')
        })
    })
</script>
{% endblock %}

{% block content %}
<h1>User Manager</h1>
<table id="user-table">
    <thead><tr><th>Avatar</th><th>User Id</th><th>Username</th><th>Full Name</th><th>Email</th></tr></thead>
{% for user in users %}
    <tr> 
        <td style="padding: 10px;"><img src="https://www.gravatar.com/avatar/{{user.emailhash}}?d=mm&s=40" alt="gravatar"></td>
        <td style="padding: 10px;">{{user.id}} </td>
        <td style="padding: 10px;"><a href="{{ url_for('user.profile', {'username' : user.username}) }}"
                                      title="View/Edit user">{{user.username}}</a></td>
        <td style="padding: 10px;">{{user.fullname}} </td>
        <td style="padding: 10px;">{{user.email}}</td>
    </tr>

{% endfor %}
</table>

<div class="with-top-margin with-bottom-margin">

<button class="btn btn-primary" 
        type="button"
        id="addUserButton"
        data-toggle="collapse" 
        data-target="#addUserForm">
 Add new user
</button>

<div class="collapse" id="addUserForm">
    <h3>Add New User:</h3>
    <div class="row">
    <div class="col-md-4" id="addUserFormDiv"> 
    <form data-toggle="validator" role="form" id="theAddUserForm">
    <!-- Username -->
    <div class="form-group has-feedback">
        <label for="username">Username</label>
        <input type="text"  
           data-minlength="5"
           maxlength="20" 
           class="form-control" 
           pattern="^[a-z]{1,}[a-z0-9]{0,}$" 
           id="username"
           name="username"
           placeholder="Username" 
           data-error="Username should be 5 to 10 small cap letters or numbers starting with at least one small cap letter"
           required>
        <div class="help-block with-errors text-danger"></div>
    </div>

    <!-- Full name -->
    <div class="form-group has-feedback">
    <label for="fullname">Full Name</label>
    <input type="text" 
           class="form-control" 
           maxlength="50"
           id="fullname"
           name="fullname"
           placeholder="The new user's full name"
           required>
    <div class="help-block with-errors text-danger"></div>
    </div>

    <!-- Email address -->
    <div class="form-group has-feedback">
    <label for="email">Email address</label>
    <input type="email" 
           class="form-control" 
           id="email" 
           name="email"
           placeholder="e.g., email@email.com"
           required>
    <div class="help-block with-errors text-danger"></div>
    </div>
    
    <!-- Password -->
    <div class="form-group has-feedback">
    <label for="password1">Password</label>
    <input type="password" 
           class="form-control" 
           id="password1"
           name="password1"
           data-minlength="8"
           maxlength="16"
           placeholder="User password (8-16 characters)"
           required>
{#    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>#}
    <div class="help-block with-errors text-danger"></div>
    </div>
    
    <!-- Password confirmation -->
    <div class="form-group has-feedback">
    <label for="password2">Confirm Password</label>
    <input type="password" 
           class="form-control" 
           id="password2"
           name="password2"
           data-match="#password1"
           data-match-error="Does not match given password"
           placeholder="Confirm"
           required>
{#    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>#}
    <div class="help-block with-errors text-danger"></div>
  </div>
  <button type="submit" class="btn btn-primary" id="submitAddUserButton">Submit</button>
  <button type="button" class="btn btn-default" id="cancelAddUserButton">Cancel</button>
</form>
       
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- collapse -->

<div id="reportarea"></div>
</div>
{% endblock %}