<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{baseurl}}/node_modules/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{{baseurl}}/css/styles.css"/>
<link rel="stylesheet" href="{{baseurl}}/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}/node_modules/datatables.net-dt/css/jquery.dataTables.min.css"/>
<link href='{{baseurl}}/images/averroes-icon.png' rel='icon' sizes='16x16' type='image/png'>
<title>{% block title %}{% endblock %}</title>
<script type="text/javascript" src="{{baseurl}}/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="{{baseurl}}/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="{{baseurl}}/node_modules/bootstrap-validator/dist/validator.js"></script>
<script type="text/javascript" src="{{baseurl}}/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{baseurl}}/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js"></script>

{% block extraJS %}{% endblock %}
</head>
<body>    <nav class="navbar navbar-default navbar-static-top" style="background-color: white;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding:0;" href="{{ path_for('home') }}"><img src="{{baseurl}}/images/averroes-logo-250.png" height="50" ></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Info<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://averroes.uni-koeln.de/">Public Website &nbsp;<span class="glyphicon glyphicon-new-window"></span></a></li>
                        </ul>
                    </li>
                </ul>
                

            </div><!--/.nav-collapse -->
        </div>
    </nav>
<div class="container">
{% block content %}{% endblock %}
</div>
<footer class="footer">
<div class="container">
<p class="text-muted">{% block copyright %}{{ copyright|raw }} (new) {% endblock %}</p>
</div></footer>
</body>
</html>