{% extends "base.twig" %}

{% block title %}Chunks{% endblock %}

{% block content %}
    <h1>Chunks</h1>
    <div class="chunks">
        <ul class="chunk-list">
        {% for work in works %}
            <li><h5>{{work.work_info.author_name}}, <em>{{work.work_info.title}}</em> ({{work.work_id}})</h5>
                <ul>
                    <li>
                    {% for chunk in work.chunks %}
                        <a class="chunk-link" href="{{url_for('chunk', {'work' : work.work_info.dare_id, 'chunk': chunk})}}" title="View chunk">{{chunk}}</a>&nbsp;&nbsp;
                    {% endfor %}
                    </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
</div>
{% endblock %}
