{% extends "base.twig" %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/witness.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/act-settingsform.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/chunkpage.css" />
    <style>

        div#collationtablelinks {
            margin-bottom: 50px;
        }

        div#witnessListNew {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>

{% endblock %}

{% block extraJS %}
    <script type="text/javascript" src="{{baseurl}}/node_modules/twig/twig.min.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/dist/ChunkPage.bundle.js"></script>
{% endblock %}

{% block content %}
<nav aria-label="breadcumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{url_for('works')}}">Works</a></li>
         <li class="breadcrumb-item">{{ work }}</li>
        <li class="breadcrumb-item active">Chunk {{ chunk }}</li>
    </ol>
</nav>
    <div id="chunkpageheader"></div>
    <div id="chunkid"></div>
    <div id="witnessListNew"></div>
    <div id="editions" class="collationtablelinks"></div>
    <div id="savedcollationtables" class="collationtablelinks"></div>
    <h4 id="ctlinks-header" class="hidden">Automatic Collation Tables</h4>
    <div id="collationtablelinks" class="collationtablelinks">  </div>
    <div id="witnesspanels"></div>
{% endblock %}

{% block finalBodyJS %}
<script type="module">
  $(()  => {
    let showAdminInfo = JSON.parse('{{showAdminInfo|json_encode|e('js')}}');
    let cp = new ChunkPage({
      work: '{{work}}',
      chunk: {{chunk}},
      urlGenerator:  new ApmUrlGenerator('{{baseurl}}'),
      userId: {{userinfo.id}},
      witnessInfo: JSON.parse('{{witnessInfoArray|json_encode|e('js')}}'),
      pageInfo: JSON.parse('{{pageInfo|json_encode|e('js')}}'),
      authorInfo: JSON.parse('{{authorInfo|json_encode|e('js')}}'),
      languageInfo : JSON.parse('{{languageInfo|json_encode|e('js')}}'),
      workInfo: JSON.parse('{{work_info|json_encode|e('js')}}'),
      validChunks: JSON.parse('{{validChunks|json_encode|e('js')}}'),
      savedCollationTables : JSON.parse('{{savedCollationTables|json_encode|e('js')}}'),
      showAdminInfo: showAdminInfo
    })
  });
</script>
{% endblock %}
