{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Documents{% endblock %}

{% block finalBodyJS %}
<script>
    let docs = JSON.parse("{{docs|json_encode|e('js')}}")
    let peopleInfo = JSON.parse("{{peopleInfo|json_encode|e('js')}}")
    console.log(docs)
    console.log(peopleInfo)
$(function()
{ 
    $("#theDocTable").DataTable({ 
        paging: true, 
        searching : true,
        language: {
            search: 'Filter:'
        },
        columns: [
           null,
           null,
           null,
           {searchable: false},
           {searchable: false},
           null
        ]
    }); 
} 
)
</script>
{% endblock %}


{% block content %}
<h1>Documents</h1>
<table class="doctable" id="theDocTable">
    <thead><tr><th>Title</th><th>Type</th><th>Language</th><th>Pages</th><th>Transcribed</th><th>Transcribers</th></tr></thead>
{% for doc in docs %}
    <tr>
        
    <td><a href="{{url_for('doc.showdoc', {'id' : doc.docInfo.id})}}" title="Document details">{{doc.docInfo.title}}</a></td>
    <td>{{macros.docTypeName(doc.docInfo.doc_type)}}</td>
    <td>{{macros.langName(doc.docInfo.lang)}}</td>
    <td>{{doc.numPages}}</td>
    <td>{{doc.numTranscribedPages}}</td>
    <td>
    {% if doc.numTranscribedPages %}
        {% for editor in doc.editors %}
            <a href="{{url_for('user.profile', {'username' : editor.userName})}}" title="View profile">{{editor.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}    
    </td>
    </tr>
{% endfor %}
</table>

{% if canManageDocuments %}
    <h3>Admin</h3>
    <ul>
        <li><a href="{{url_for('doc.new')}}">Add New Document</a></li>
    </ul>
{% endif %} 
{% endblock %}

