{% import 'macros.twig' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{docInfo.title}} : {{pageNumberFoliation}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=PT+Sans"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://averroes.uni-koeln.de/fonts/fontawesome-free-5.10.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/split-pane.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/pageviewer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/transcription-editor.css" />
    
{#    <script type="application/javascript" src="{{baseurl}}/node_modules/lodash/lodash.js"></script>#}
    <script type="application/javascript" src="{{baseurl}}/node_modules/jquery/dist/jquery.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/moment/moment.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/twig/twig.min.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/quill/dist/quill.min.js"></script>
    
    <script type="application/javascript" src="{{baseurl}}/js/split-pane.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/js-cookie/dist/js.cookie.js"></script>

    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUrlGenerator.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/Item.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/Element.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/TranscriptionEditor.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/TranscriptionEditorBlots.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/TranscriptionEditorBlotConfig.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/EditorClipboard.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/EditorData.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/PageViewer.js"></script>

    <link href='{{baseurl}}/images/apm-logo-square-32x32.png' rel='icon' sizes='32x32' type='image/png'>
    <script>
    TranscriptionEditor.init('{{baseurl}}')
    
    $( () => {
        let pv = new PageViewer({
            baseUrl : '{{ baseurl }}',
            urlGenerator: new ApmUrlGenerator('{{ baseurl }}'),
            imageUrl: '{{imageUrl}}',
            pageType: {{pageInfo.type}},
            foliation: '{{pageInfo.foliation}}',
            pageNumber: {{ page }},
            seq: {{ seq }},
            pageNumberFoliation:'{{ pageNumberFoliation }}',
            pageSystemId: {{pageInfo.id}},
            docId: {{ doc }},
            activeColumn : JSON.parse('{{activeColumn|json_encode|e('js')}}'),
            userId: {{ userId }},
            userTid: {{  userTid }},
            defaultLang: '{{pageInfo.lang}}',
            activeWorks: JSON.parse("{{activeWorks|json_encode|e('js')}}"),
            langDef: ApmUtil.getLangDefFromLanguagesArray(JSON.parse("{{languagesArray|json_encode|e('js')}}")),
            pageTypeNames : JSON.parse('{{pageTypeNames|json_encode|e('js')}}'),
            pagePopoverContent : '{{macros.pageviewtablepv(doc, thePages, navByPage)|escape('js')}}',
            {#osdConfig: { {{openSeaDragonConfig|raw}} },#}
            deepZoom: '{{ deepZoom }}' === '1'
        })
    })
    </script>
</head>
<body>
<div id="viewerheader">
    <table width="100%">
        <tr>
            <td width="280px">
                <a href="{{url_for('home')}}" title="Back to main page"><img src="{{baseurl}}/images/apm-logo-plain.svg" height="50" alt="APM Logo"></a>
            </td>
            <td>
                <span class="textonly"><a href="{{url_for('doc.showdoc', {'id' : doc })}}">{{ docInfo.title}}</a></span>
            </td>
            <td>
                {% if navByPage==true %}
                    <button class="textonly headerbutton {{ page==1?' disabled':''}}"
                            title="First Page" 
                            onclick="window.location='{{url_for('pageviewer.docpage', {'doc': doc, 'page': 1})}}';" {{ page==1 ? ' disabled' : '' }}>
               {% else %}
                    <button class="textonly headerbutton {{ seq==1?' disabled':''}}"
                            onclick="window.location='{{url_for('pageviewer.docseq', {'doc': doc, 'seq': 1})}}';" {{ seq==1 ? ' disabled' : '' }}>
                {% endif %}
                        <i class="fas fa-step-backward"></i>
                {% if navByPage==true %}
                    <button class="textonly headerbutton {{ page==1?' disabled':''}}" 
                        title="Previous Page" 
                                onclick="window.location='{{url_for('pageviewer.docpage', {'doc': doc, 'page': page-1})}}';" {{ page==1 ? ' disabled' : '' }}>
                {% else %}
                    <button class="textonly headerbutton {{ seq==1?' disabled':''}}" 
                                title="Previous Page" 
                                onclick="window.location='{{url_for('pageviewer.docseq', {'doc': doc, 'seq': seq-1})}}';" {{ seq==1 ? ' disabled' : '' }}>
                {% endif %}
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="textonly headerbutton" id="pagenumber">
                          Page {{pageNumberFoliation}}
                    </button>
               {% if navByPage==true %}
                    <button class="textonly headerbutton {{ page==docPageCount?' disabled':''}}"
                                title="Next Page" 
                                onclick="window.location='{{url_for('pageviewer.docpage', {'doc': doc, 'page': page+1})}}';" {{ page==docPageCount ? ' disabled' : '' }}>
                {% else %}
                    <button class="textonly headerbutton {{ seq==docPageCount?' disabled':''}}"
                               title="Next Page" 
                                onclick="window.location='{{url_for('pageviewer.docseq', {'doc': doc, 'seq': seq+1})}}';" {{ seq==docPageCount ? ' disabled' : '' }}>
                {% endif %}
                        <i class="fas fa-chevron-right"></i>
                    </button>
                {% if navByPage==true %}
                    <button class="textonly headerbutton {{ page==docPageCount?' disabled':''}}" 
                                title="Last Page" 
                                onclick="window.location='{{url_for('pageviewer.docpage', {'doc': doc, 'page': docPageCount})}}';" {{ page==docPageCount?' disabled':''}}>

                {% else %}  
                    <button class="textonly headerbutton {{ seq==docPageCount?' disabled':''}}" 
                                title="Last Page" 
                                onclick="window.location='{{url_for('pageviewer.docseq', {'doc': doc, 'seq': docPageCount})}}';" {{ seq==docPageCount?' disabled':''}}>
                {% endif %}
                        <i class="fas fa-step-forward"></i>
                    </button>
            </td>
            <td>
                <button title="Vertical Layout" class="textonly headerbuttonright" id="vertButton">
                            <img src="{{baseurl}}/images/stack_vertically.png" alt="Stack Vertically"/>
                </button>
                <button title="Horizontal Layout" class="textonly headerbuttonright" id="horizButton">
                    <img src="{{baseurl}}/images/stack_horizontally.png" alt="Stack Horizontally"/>
                </button> 
            </td>
            <td style="text-align: right;">
                
                <button title="Exit Viewer" class="textonly headerbuttonright"
                                onclick="window.location='{{url_for('home')}}';">
                    <i class="fas fa-power-off"></i>
                </button>
            </td>
        </tr>
    </table>
</div> <!-- viewerheader -->


<div id="container">
<div class="split-pane vertical-percent" id="full-pane">
    <div class="split-pane-component vert-left" id="osd-pane"></div>
    <div class="split-pane-divider vert-divider" id="divider"></div>
    <div class="split-pane-component vert-right" id="editor-pane">
        <ul class="nav nav-tabs" id="tabsUl">
            <li id="pageinfoHeader" class="nav-item"><a role="tab" class="nav-link" data-toggle="tab" href="#pageinfoTab">
                    Page Info</a></li>
        </ul>
        <div class="tab-content" id="theTabs">
            <div class="textcol tab-pane pageinfo" id="pageinfoTab">
                <div style="margin-top: 20px">
                <p><strong>System Page Id:</strong> {{pageInfo.id}}</p>
                <p><strong>Page Number:</strong> {{pageInfo.page_number}}</p>
                <p><strong>Sequence Number:</strong> {{pageInfo.seq}}</p>
                <p><strong>Image Number:</strong> {{pageInfo.img_number}}</p>
                <p style="margin-top: 50px"></p>
                <p><strong>Page Type:</strong> {{attribute(pageTypeNames, pageInfo.type).descr}}</p>
                <p><strong>Foliation:</strong> {% if pageInfo.foliation %}{{pageInfo.foliation}}{% else %}Undefined{% endif%}</p>
                <p><strong>Default Language:</strong> {{pageInfo.lang}}</p>
                <p><button type="button" id="editPageButton" class="btn btn-primary btn-sm">Edit Settings</button></p>
                <p style="margin-top: 50px"></p>
                <p><strong>Num Columns:</strong> {{pageInfo.num_cols}}</p>
                <p><button type="button" id="addColumnButton" data-toggle="modal" 
                         data-target="#addColumnModal"
                         class="btn btn-primary btn-sm">Add Column</button></p>
                </div>
                <div id="pageinfoversions">
                    <div id="versions-col1"></div>
                    <div id="versions-col2"></div>
                    <div id="versions-col3"></div>
                    <div id="versions-col4"></div>
  </div>
                <div id="pageinfoerrors" style="margin-top: 40px">
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
                      
<!-- Add column modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addColumnModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Column</h5>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to add a new column to this page?</p>
          <p class="text-warning">It cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="realAddColumnButton">Go for it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Page Settings Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editPageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Page Settings</h5>
      </div>
        <div class="modal-body">
            <form id="pageSettingsForm">
                <div id="editPage-type-fg" class="form-group">
                    <label for="editPage-type" class="control-label">Page Type:</label>
                    <select name="type" id="editPage-type"></select>
                </div>
                <div id="editPage-foliation-fg" class="form-group">
                    <label for="editPage-foliation" class="control-label">Foliation:</label>
                    <input name="foliation" type="text" class="form-control" id="editPage-foliation">
                    </input>
                </div>
                <div id="editPage-lang-fg" class="form-group">
                    <label for="editPage-lang" class="control-label">Default Language:</label>
                    <select name="lang" id="editPage-lang"></select>
                </div>
            </form>   
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="editPageSubmitButton">Go for it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>        