{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}ACT {{work}}-{{chunk}}-{{lang}}{%if isPartial %}-partial{%endif%}{% endblock %}

{% block extraJS %}
      {#<link rel="stylesheet" type="text/css" href="{{baseurl}}/css/ap2apm/witness.css"/>            #}
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/collationtable.css" />
    <script type="application/javascript" src="{{baseurl}}/js/apm/ApmUrlGenerator.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/apm/AutomaticCollationTable.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/apm/CollationTableFormatter.js"></script>
    <style>
    
</style>
<script>
$(document).ready(function() 
{ 
    $('#collationtablediv').popover({
            container: 'body', 
            html: true,
            trigger: 'hover', 
            selector: '.withformatpopover',
            delay: {show: 500, hide: 0},
            placement: 'auto'
         })
    let apiCallOptions = JSON.parse("{{apiCallOptions|json_encode|e('js')}}")
    let urlGenerator = new ApmUrlGenerator('{{baseurl}}')
    let miniApp = new AutomaticCollationTable(urlGenerator, apiCallOptions, true)
    
} 
);
</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{path_for('chunks')}}">Chunks</a></li>
         <li><a href="{{path_for('chunk', {'work' : work, 'chunk': chunk})}}">{{work}}-{{chunk}}</a></li>
         <li>Automatic Collation Table</li>
         <li class="active">{{langName}} {%if isPartial %}(partial){%endif%}</li>
    </ol>
    
    <h1>Automatic Collation Table</h1> 
    <div class="row">
        <div class="col-md-9">
            <p>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}} ({{work}}-{{chunk}})</p>
            <p>{{langName}}, 
                {%if isPartial %}
                    {{num_docs}} out of {{total_num_docs}} witnesses
                {%else %}
                    all {{num_docs}} valid witnesses
                {%endif%}
        
                <button title="Click to edit the automatic collation settings" 
                    id="editsettingsbutton" class="btn btn-default btn-sm noborder ">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </p>
        </div>
        <div class="col-md-3">
            <div id="collationtablebuttons" >
                <button title="Reload the collation table with the most recent data" 
                    id="redobutton" class="btn btn-default btn-lg noborder">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button title="Change view settings" 
                    id="viewsettingsbutton" class="btn btn-default btn-lg noborder">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <button title="Export" 
                    id="exportbutton" class="btn btn-default btn-lg noborder">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </div>
            <div id="viewsettingsform" class="ctdropdownform" >
                <h3>View Settings</h3>
                <form>
                <p><input type="checkbox">Highlight Variants</p>
                <p><input type="checkbox">Show in multiple rows</p>
                <p><input type="number"> columns per row</p>
                <p>
                    <button id="viewsettingsform-applybutton" class="btn btn-primary btn-sm r">
                        Apply
                    </button>
                    <button id="viewsettingsform-cancelbutton" class="btn btn-default btn-sm r">
                        Cancel
                    </button>
                </p>
                </form>
            </div>
        </div>
    </div>
    
    <div id="status" class="text-danger"></div>
    <div id="collationtablediv" class="ltrtext" style="overflow-x: auto; margin-top: 20px;"></div>
    <div id="collationEngineDetails" class="text-muted small"> </div>

{% endblock %}
