{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}CT {{work}}-{{chunk}}-{{lang}}{%if isPartial %}-partial{%endif%}{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/Item.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollationTableFormatter.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollationTable.js"></script>
    <style>
    table.collationtable {
        margin-bottom: 20px;
    }
    
    .ltrtext {
        direction: ltr;
    }
    
    .rtltext {
        direction: rtl;
    }
</style>
<script>
$(document).ready(function() 
{ 
    // rtl = {{rtl ? 1 : 0}}
    let collatexOutput = JSON.parse("{{collatexOutput|json_encode|e('js')}}")
    let ctObject = new CollationTablePage(collatexOutput, {{rtl ? 1 : 0}}, ['{{lang}}-td'])
    
    console.log(JSON.parse("{{collationEngineDetails|json_encode|e('js')}}"))
} 
);
</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{path_for('chunks')}}">Chunks</a></li>
         <li><a href="{{path_for('chunk', {'work' : work, 'chunk': chunk})}}">{{work}}-{{chunk}}</a></li>
         <li>Collation Table</li>
         <li class="active">{{langName}} {%if isPartial %}(partial){%endif%}</li>
    </ol>
<h1>Collation Table: {{work}}-{{chunk}} : {{langName}} {%if isPartial %}(partial){%endif%}</h1>
<p>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}}</p>
<p>
    {%if isPartial %}
        {{num_docs}} out of {{total_num_docs}} witnesses
    {%else %}
        {{num_docs}} witnesses
    {%endif%}
</p>
{% if showExpandCollapseButton %}
<p>
    <button id="changeTableViewButton">Expand/Collapse Segments</button>
</p>
{% endif %}
<div class="row">
<div id="collationtablediv" class="ltrtext" style="overflow-x: auto; margin-top: 20px;">
</div>
</div>
{% endblock %}
