{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}ACT {{work}}-{{chunk}}-{{lang}}{%if isPartial %}-partial{%endif%}{% endblock %}

{% block extraJS %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/collationtable.css" />
    <script type="application/javascript" src="{{baseurl}}/js/apm/ApmUrlGenerator.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/apm/AutomaticCollationTable.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/apm/CollationTableFormatter.js"></script>
    <style>
    
</style>
<script>
$(document).ready(function() 
{ 
    let apiCallOptions = JSON.parse("{{apiCallOptions|json_encode|e('js')}}")
    let urlGenerator = new ApmUrlGenerator('{{baseurl}}')
    let miniApp = new AutomaticCollationTable(urlGenerator, apiCallOptions, true)
} 
);
</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{path_for('chunks')}}">Chunks</a></li>
         <li><a href="{{path_for('chunk', {'work' : work, 'chunk': chunk})}}">{{work}}-{{chunk}}</a></li>
         <li>Automatic Collation Table</li>
         <li class="active">{{langName}} {%if isPartial %}(partial){%endif%}</li>
    </ol>
    
    <h1>Automatic Collation Table</h1> 
    <p>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}} ({{work}}-{{chunk}})</p>
    <p>{{langName}}, 
        {%if isPartial %}
            {{num_docs}} out of {{total_num_docs}} witnesses
        {%else %}
            all {{num_docs}} valid witnesses
        {%endif%}
    </p>
    <p><button title="Click to re-calculate the collation table with the most recend data" id="redobutton" class="btn btn-default">Redo Collation Table</button></p>
    <div id="status" class="text-danger"></div>
    <div id="collationtablediv" class="ltrtext" style="overflow-x: auto; margin-top: 20px;"></div>
    <div id="collationEngineDetails" class="text-muted small"> </div>

{% endblock %}
