{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}
{% block extraJS %}
    <style>
        
        div#collationtablelinks {
            margin-bottom: 50px;
        }

        div#witnessListNew {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/witness.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/act-settingsform.css" />
    <script type="text/javascript" src="{{baseurl}}/node_modules//twig/twig.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/WitnessTypes.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/AutoCollTableSettingsForm.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollapseToggleButton.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ChunkPage.js"></script>
<script>
$(function()  {// .ready()
    let showAdminInfo = JSON.parse('{{showAdminInfo|json_encode|raw}}');
    let cp = new ChunkPage({
        work: '{{work}}',
        chunk: {{chunk}},
        urlGenerator:  new ApmUrlGenerator('{{baseurl}}'),
        userId: {{userinfo.id}},
        witnessInfo: JSON.parse('{{witnessInfoArray|json_encode|raw}}'),
        pageInfo: JSON.parse('{{pageInfo|json_encode|raw}}'),
        authorInfo: JSON.parse('{{authorInfo|json_encode|raw}}'),
        languageInfo : JSON.parse('{{languageInfo|json_encode|raw}}'),
        workInfo: JSON.parse('{{work_info|json_encode|raw}}'),
        validChunks: JSON.parse('{{validChunks|json_encode|raw}}'),
        showAdminInfo: showAdminInfo
    })
});
        

</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li class="active">Chunk Details</li>
    </ol>
    <div id="chunkpageheader"></div>
    <div id="chunkid"></div>
    <div id="witnessListNew"></div>

    <h4 id="ctlinks-header" class="hidden">Automatic Collation Tables</h4>
    <div id="collationtablelinks">  </div>

    <div id="witnesspanels"></div>

{% endblock %}
