{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}
{% block extraJS %}
    <style>
        
        div#collationtablelinks {
            margin-bottom: 50px;
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/witness.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/act-settingsform.css" />
    <script type="text/javascript" src="{{baseurl}}/node_modules//twig/twig.js"></script>

    <script type="application/javascript" src="{{baseurl}}/js/AutoCollTableSettingsForm.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollapseToggleButton.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ChunkPage.js"></script>
<script>
$(document).ready(function() 
{
  let witnessInfoNew = JSON.parse('{{witnessInfoNew|json_encode|raw}}')
  let authorInfo = JSON.parse('{{authorInfo|json_encode|raw}}')
  let pageInfo = JSON.parse('{{pageInfo|json_encode|raw}}')

  console.log('Witness Info New')
  console.log(witnessInfoNew)
  console.log('Author Info')
  console.log(authorInfo)
  console.log('Page Info')
  console.log(pageInfo)


    let cp = new ChunkPage(
            { 
                work: '{{work}}',
                chunk: {{chunk}},
                witnessInfo: JSON.parse('{{docs|json_encode|e('js')}}'),
                collationLanguages: JSON.parse('{{collationLangs|json_encode|e('js')}}'),
                urlGenerator:  new ApmUrlGenerator('{{baseurl}}'),
                userId: {{userinfo.id}}
            }
    )
} 
        
);
</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li class="active">Chunk Details</li>
    </ol>
<h1>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}}</h1>
<p class="chunkid">{{work}}-{{chunk}}, {{num_docs}} witness{%if num_docs!=1 %}es{%endif%}</p>
{% if num_docs > 0 %}
    <div class="witnesslist">
<table id="theWitnessTable">
    <thead><tr><th>Title</th><th>Type</th><th>Language</th><th>Pages</th><th>Last Change</th><th/></tr></thead>
{% for doc in docs %}
<tr>
    <td><a href="{{url_for('doc.showdoc', {'id' : doc.id})}}" target="_blank" title="View Document in New Tab">{{doc.title}}</a></td>
    <td>{{macros.docTypeName(doc.doc_type)}}</td>
    <td>{{macros.langName(doc.lang)}}</td>
    <td>
        
        {% for seg in doc.segments %}
<a href="{{url_for('pageviewer.docseq', {'doc' : doc.id, 'seq' : seg.start.page_seq})}}" target="_blank" title="View Page in New Tab">{{seg.start.foliation}}</a>{% if seg.end.foliation and seg.end.foliation != seg.start.foliation %}&ndash;<a href="{{url_for('pageviewer.docseq', {'doc' : doc.id, 'seq' : seg.end.page_seq})}}" target="_blank" title="View Page in New Tab">{{seg.end.foliation}}</a>{% endif %}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </td>
    <td>
        {% if not doc.error and not doc.warnings %}
            {{ doc.lastTimeFormatted}},  <a href="{{ url_for('user.profile', {'username' : doc.lastAuthorUsername}) }}">{{ doc.lastAuthorName }}</a>
        {%  endif %}
    </td>
    <td>

        {% if userCanViewChunkDetails and doc.goodWitness %}
            <a title="View Witness Details" href="{{url_for('witness', { 'work' : work, 'chunk': chunk, 'type': 'doc', 'id': doc.id})}}"><i class="fas fa-cogs" aria-hidden="true"></i></a>
        {% endif %}

    {% if doc.error %}
        <p class="text-danger">{{doc.error}}</p>
    {% endif %}
    {% for warning in doc.warnings %}
        <p class="text-warning"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> {{warning}}</p>
    {% endfor %}
    </td>
    
</tr>
{% endfor %}
</table>
    </div>

{#{% if collationLangs|length > 0 %}#}
    <h4 id="ctlinks-header" class="hidden">Automatic Collation Tables</h4>
    <div id="collationtablelinks">
    </div>

{#{% endif %}#}

<div class="chunktexts">
    
{% for doc in docs %}
    {%  if doc.goodWitness %}
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{doc.title}}
                    &nbsp;&nbsp;&nbsp;
                    <a role="button" title="Click to show/hide text" data-toggle="collapse" href="#text-{{doc.id}}" aria-expanded="true" aria-controls="text-{{doc.id}}">
                        <span id="texttoggle-{{doc.id}}"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
                    </a></h3>
            </div>
                     <div class="collapse" id="text-{{doc.id}}">
             <div class="panel-body">
                     <p class="formattedchunktext chunktext-{{doc.lang}}" id="formatted-{{doc.id}}"></p>
            </div>
        </div>
    </div>
    {%  endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
