{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}
{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/ApmUrlGenerator.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ChunkPage.js"></script>
<script>
$(document).ready(function() 
{ 
    let cp = new ChunkPage(
            { 
                chunkno: {{chunk}},
                work: '{{work}}'
            },
            JSON.parse('{{docs|json_encode|e('js')}}'), 
            JSON.parse('{{collationLangs|json_encode|e('js')}}'),
            new ApmUrlGenerator('{{baseurl}}')
    )
} 
        
);
</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{path_for('chunks')}}">Chunks</a></li>
        <li class="active">Chunk Details</li>
    </ol>
<h1>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}}</h1>
<p class="chunkid">{{work}}-{{chunk}}, {{num_docs}} witness{%if num_docs!=1 %}es{%endif%}</p>
{% if num_docs > 0 %}
    <div class="witnesslist">
<table id="theWitnessTable">
    <thead><tr><th>Title</th><th>Type</th><th>Language</th><th>Pages</th><th>Include in Collation</th><th>Show Text</th><th/></tr></thead>
{% for doc in docs %}
<tr>
    <td><a href="{{path_for('doc.showdoc', {'id' : doc.id})}}" target="_blank" title="View Document in New Tab">{{doc.title}}</a></td>
    <td>{{macros.docTypeName(doc.doc_type)}}</td>
    <td>{{macros.langName(doc.lang)}}</td>
    <td>
        <a href="{{path_for('pageviewer.docseq', {'doc' : doc.id, 'seq' : doc.start.seq})}}" target="_blank" title="View Page in New Tab">{{doc.start.foliation}}</a>
        {% if doc.end.foliation != doc.start.foliation %} -
            <a href="{{path_for('pageviewer.docseq', {'doc' : doc.id, 'seq' : doc.end.seq})}}" target="_blank" title="View Page in New Tab">{{doc.end.foliation}}</a>
        {% endif %}
    </td>
    <td>
        {% if doc.goodWitness %}
          <input class="includeincollation" id="check-{{doc.id}}" type="checkbox" value="{{doc.id}}-{{doc.lang}}" checked>
          {% endif %}
    </td>
    <td>
    {% if doc.plain_text %}
        <p><a data-toggle="collapse" href="#plaintext-{{doc.id}}-{{work}}-{{chunk}}" aria-expanded="true" aria-controls="plaintext-{{doc.id}}-{{work}}-{{chunk}}">
                Show/Hide</a>
        </p>
              
    {% endif %}
    </td>
    <td>
    {% if doc.error %}
        <p class="text-danger">{{doc.error}}</p>
    {% endif %}
    {% for warning in doc.warnings %}
        <p class="text-warning">{{warning}}</p>
    {% endfor %}
    </td>
    
</tr>
{% endfor %}
</table>
    </div>
{% if collationLangs|length > 0 %}
<div id="collationtablelinks">
</div>
{% endif %}

<div class="chunktexts">
{% for doc in docs %}
    
    {% if doc.plain_text %}
    <div class="collapse in" id="plaintext-{{doc.id}}-{{work}}-{{chunk}}">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">{{doc.title}}</h3>
            </div>
             <div class="panel-body">
                     <p class="chunktext chunktext-{{doc.lang}}">{{doc.plain_text}}</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
