{% extends "base.twig" %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}

{% block content %}
<div class="chunk">
    <h1>Chunk {{work}}-{{chunk}}</h1>
    {{doclist|raw}}
</div>
{% endblock %}
