{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Chunk {{work}}-{{chunk}}{% endblock %}
{% block extraJS %}
    <style>
        
        div#collationtablelinks {
            margin-bottom: 50px;
        }

        div#witnessListNew {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/witness.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/act-settingsform.css" />
    <script type="text/javascript" src="{{baseurl}}/node_modules//twig/twig.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>

    <script type="application/javascript" src="{{baseurl}}/js/AutoCollTableSettingsForm.js"></script>

    <script type="application/javascript" src="{{baseurl}}/js/CollapseToggleButton.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ChunkPage.js"></script>
<script>
$(function()  {// .ready()
    let showAdminInfo = {{ userCanViewChunkDetails }} === 1;
    let cp = new ChunkPage({
        work: '{{work}}',
        chunk: {{chunk}},
        witnessInfo: JSON.parse('{{docs|json_encode|e('js')}}'),
        collationLanguages: JSON.parse('{{collationLangs|json_encode|e('js')}}'),
        urlGenerator:  new ApmUrlGenerator('{{baseurl}}'),
        userId: {{userinfo.id}},
        witnessInfoNew: JSON.parse('{{witnessInfoNew|json_encode|raw}}'),
        pageInfo: JSON.parse('{{pageInfo|json_encode|raw}}'),
        authorInfo: JSON.parse('{{authorInfo|json_encode|raw}}'),
        languageInfo : JSON.parse('{{languageInfo|json_encode|raw}}'),
        workInfo: JSON.parse('{{work_info|json_encode|raw}}'),
        showAdminInfo: showAdminInfo
    })
});
        

</script>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li class="active">Chunk Details</li>
    </ol>
<h1>{{work_info.author_name}}, <em>{{work_info.title}}</em>, chunk {{chunk}}</h1>
    <div id="chunkid"></div>
    <div id="witnessListNew"></div>

    <h4 id="ctlinks-header" class="hidden">Automatic Collation Tables</h4>
    <div id="collationtablelinks">
    </div>

{% if num_docs > 0 %}

<div class="chunktexts">
    
{% for doc in docs %}
    {%  if doc.goodWitness %}
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{doc.title}}
                    &nbsp;&nbsp;&nbsp;
                    <a role="button" title="Click to show/hide text" data-toggle="collapse" href="#text-{{doc.id}}" aria-expanded="true" aria-controls="text-{{doc.id}}">
                        <span id="texttoggle-{{doc.id}}"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
                    </a></h3>
            </div>
                     <div class="collapse" id="text-{{doc.id}}">
             <div class="panel-body">
                     <p class="formattedchunktext chunktext-{{doc.lang}}" id="formatted-{{doc.id}}"></p>
            </div>
        </div>
    </div>
    {%  endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
