{% extends "base.twig" %}

{% block title %}
    CT {{workId}}-{{chunkNumber}} table {{ tableId }}
{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/collationtable.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/collation.edit.css" />
{% endblock %}

{% block extraJS %}
    <script type="text/javascript" src="{{baseurl}}/node_modules/twig/twig.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/AutoCollTableViewSettingsForm.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollationTableFormatter.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/Typesetter.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/EditionViewer.js"></script>
{% endblock %}

{% block finalBodyJS %}
<script type="module">
  import { CollationTableEditor } from "{{baseurl}}/js/CollationTableEditor.js"

  $(function() {
    let ctData  = JSON.parse("{{collationTableData|json_encode|e('js')}}")
    let peopleInfo = JSON.parse("{{peopleInfo|json_encode|e('js')}}")
    let workInfo = JSON.parse("{{workInfo|json_encode|e('js')}}")
    let docInfo = JSON.parse("{{docInfo|json_encode|e('js')}}")
    let versionInfo = JSON.parse("{{versionInfo|json_encode|e('js')}}")
    console.log(ctData)
    console.log(peopleInfo)
    console.log(workInfo)
    console.log(docInfo)
    console.log(versionInfo)

    let te = new CollationTableEditor({
      collationTableData : ctData,
      workId: '{{ workId }}',
      chunkNumber: {{ chunkNumber }},
      tableId: {{ tableId }},
      urlGenerator: new ApmUrlGenerator('{{ baseurl }}'),
      peopleInfo: peopleInfo,
      workInfo: workInfo,
      docInfo: docInfo,
      versionInfo: versionInfo
    })
  })
</script>
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li><a href="{{url_for('chunk', {'work' : workId, 'chunk': chunkNumber})}}">{{workId}}-{{chunkNumber}}</a></li>
        <li><span id="breadcrumb-cttitle"></span></li>
    </ol>

    <div class="row">
        <div class="col-md-8">
            <div id="collationtabletitle">
                <h1><span id="cttitletext"></span></h1>
            </div>
            <div id="collationtableinfo"></div>
            <div id="collationtableactions"></div>
        </div>
        <div class="col-md-4 text-right" id="save-area">
            <h1><button class="btn btn-primary hidden" id="savebutton">Save Changes</button></h1>
            <p><small>Last Save: <span id="lastSave">...</span></small></p>
        </div>
    </div>

    <div id="status" class="text-danger"></div>


    <ul class="nav nav-tabs" role="tablist" id="tabsUl">
        <li id="collationTableTabHeader" role="presentation" class="active"><a role="tab" data-toggle="tab" href="#collationtablepanel">Collation Table</a></li>
        <li id="editionTabHeader"  role="presentation"><a role="tab" data-toggle="tab" href="#editiondiv">Quick Edition</a></li>
        <li id="witnessesTabHeader"  role="presentation"><a role="tab" data-toggle="tab" href="#witnessesdiv">Witness Info</a></li>
        <li id="witnessesTabHeader"  role="presentation"><a role="tab" data-toggle="tab" href="#versionhistorydiv">Version History</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active panetab" id="collationtablepanel">
            <div class="ct-toolbar">
                <div>
                    <span id="popovers-toggle">

                    </span>

                </div>
                <div>
                    <a id="export-csv-button" class="tb-button"  download="apm-collationtable.csv"
                       title="Download CSV"><small>CSV</small><i class="fas fa-download"></i></a>
                </div>

            </div>
            <div id="collationtablediv"><div class="loading">Loading table...  <i class="fas fa-circle-notch fa-spin"></i></div></div>
        </div>
        <div role="tabpanel" class="tab-pane panetab" id="editiondiv"></div>
        <div role="tabpanel" class="tab-pane panetab" id="witnessesdiv">
            <div class="witnessinfotable"></div>
            <div class="witness-update-div">
                <span class="witness-update-info"></span>
                <button class="btn btn-sm btn-default check-witness-update-btn"  title="Click to check for updates to witness transcriptions">Check Now</button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane panetab" id="versionhistorydiv"></div>
    </div>

{% endblock %}

