{% extends "base-public.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Quick Collation{% endblock %}

{% block extraJS %}
<script type="application/javascript" src="{{baseurl}}/js/ApmUrlGenerator.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/Item.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/CollationTableFormatter.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/QuickCollation.js"></script>
<style>
    textarea {
        width: 100%;
        height: 5em;
    }
    
    div.texttitle {
        font-weight: bold;
        text-align: center;
        height: 5em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    
    .cancelindent {
        margin-left: 0;
    }
    table.collationtable {
        margin-bottom: 20px;
    }
    
    .ltrtext {
        direction: ltr;
    }
    
    .rtltext {
        direction: rtl;
    }
    
</style>

<script>
    $(document).ready(function () {
        let ug = new ApmUrlGenerator('{{baseurl}}')
        let qcObject = new QuickCollation(ug)
        $('.help').popover({trigger: 'hover', html: true})
    })
</script>
{% endblock %}

{% block content %}

<h1>Quick Collation</h1>

<p class="text-muted">This is an interface to the Collatex software. 
    Enter at least two texts to collate in the following fields; leave the rest blank. 
    The given texts will be split into words and passed 
    to Collatex. The results will then be shown in tabular form. Variants are shown with a light blue background. </p>
<p class="text-muted">For more information about Collatex please 
    visit <a href="https://collatex.net/">https://collatex.net/</a>.  </p>
<p class="text-muted">Please report issues with this webpage to 
    {{contactName}} (<a href="mailto:{{contactEmail}}"><tt>{{contactEmail}}</tt></a>)</p>

<p style="margin-top: 50px;"> </p>




<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text A
    </div>
    <div class="col-md-11">
        <textarea  id="textA"></textarea>
    </div>
</div>
<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text B
    </div>
    <div class="col-md-11">
        <textarea  id="textB"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text C
    </div>
    <div class="col-md-11">
        <textarea id="textC"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text D
    </div>
    <div class="col-md-11">
        <textarea id="textD"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text E
    </div>
    <div class="col-md-11">
        <textarea id="textE"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text F
    </div>
    <div class="col-md-11">
        <textarea id="textF"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text G
    </div>
    <div class="col-md-11">
        <textarea id="textG"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1 texttitle">
        Text H
    </div>
    <div class="col-md-11">
        <textarea id="textH"></textarea>
    </div>
</div>

<div class="row cancelindent">
    <div class="col-md-1"></div>
    <div class="col-md-11">
    <button type="button" class="btn btn-primary" id="collateButton">Collate</button>
    </div>
</div>
<div class="row cancelindent">
    <h1 class="text-danger" id="status"></h1>
</div>


<div id="collationtablesection">
<h2>Collation Table</h2>
<button type="button" class="btn btn-default" id="changeTableViewButton">Collapse / Expand Segments</button> 
<a class="help" data-toggle="popover" title="Help" data-content="<p>Collatex returns matching text segments composed of one or more words.</p><p>In the Averroes Project, 
however, scholars prefer to see the table with one word per column. Click this button to switch between showing the segments as they come from 
Collatex or showing them expanded word by word.</p><p>Please notice that word-by-word expansion is done with an algorithm developed in the Averroes
Project that may still have some problems."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" id="changeTextDirectionButton">LTR / RTL </button>
<a class="help" data-toggle="popover" title="Help" data-content="Click to change the table direction between left-to-right and right-to-left"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
<div class="row">
<div id="collationtablediv" class="ltrtext" style="overflow-x: auto; margin-top: 20px;">
</div>
</div>
</div>
    
{% endblock %}

