{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}CT {{workId}}-{{chunkNumber}} table {{ tableId }}{% endblock %}

{% block extraJS %}
<link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/collationtable.css" />
<script type="text/javascript" src="{{baseurl}}/node_modules//twig/twig.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/AutoCollTableViewSettingsForm.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/CollationTableFormatter.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/CollationTableEditor.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/Typesetter.js"></script>
<script type="application/javascript" src="{{baseurl}}/js/EditionViewer.js"></script>
<script type="text/javascript" src="{{baseurl}}/js/Matrix.js"></script>
<script type="text/javascript" src="{{baseurl}}/js/TableEditor.js"></script>
<style>

</style>
<script>
  $(function() {// .ready()

    let ctData  = JSON.parse("{{collationTableData|json_encode|e('js')}}")

    console.log(ctData)

    let te = new CollationTableEditor({
      collationTableData : ctData,
      workId: '{{ workId }}',
      chunkNumber: {{ chunkNumber }},
      tableId: {{ tableId }},
      urlGenerator: new ApmUrlGenerator('{{ base }}')
    })


    })
    </script>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{url_for('chunks')}}">Chunks</a></li>
        <li><a href="{{url_for('chunk', {'work' : workId, 'chunk': chunkNumber})}}">{{workId}}-{{chunkNumber}}</a></li>
        <li><span id="breadcrumb-cttitle"></span></li>
    </ol>


    <div class="row">
        <div id="collationtabletitle"></div>
        <div id="collationtableinfo"></div>
        <div id="collationtableactions"></div>
    </div>
    <div id="status" class="text-danger"></div>
    <div id="editiondiv">
        <div id="theedition"></div>
        <div id="sigla"></div>
    </div>
    <div id="collationtablediv" class="ctdiv">Collation table goes here</div>



{% endblock %}

