<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{baseurl}}/node_modules/bootstrap4/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/bootstrap4/styles.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/bootstrap4/collationtable.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/bootstrap4/collation.edit.css" />

    <link href='{{baseurl}}/images/apm-logo-square-32x32.png' rel='icon' sizes='32x32' type='image/png'>

    <title></title>

    <script type="text/javascript" src="{{baseurl}}/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/bootstrap4/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/moment/moment.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/ApmUrlGenerator.js"></script>
    <script type="text/javascript" src="{{baseurl}}/js/SimpleProfiler.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/twig/twig.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/split-grid/dist/split-grid.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/dist/CollationTableEditorNew.bundle.js"></script>
</head>
<body class="ct-new-body">

<div class="top-bar">
    <div class="top-bar-item top-bar-logo">
        <a class="navbar-brand" style="padding:3px;" href="{{ url_for('home') }}">
            <img alt="APM" src="{{baseurl}}/images/apm-logo-plain.svg" height="45px" ></a>
    </div>
    <div class="top-bar-item top-bar-ct-title"  id="collationtabletitle">
            <span id="cttitletext"></span>
    </div>
    <div class="top-bar-item top-bar-ct-info" id="collationtableinfo"></div>
    <div class="top-bar-item" id="collationtableactions"></div>
    <div class="top-bar-item" id="save-area">
        <p><button class="btn btn-primary btn-sm" id="savebutton">Save Changes</button></p>
        <p><small>Last Save: <span id="lastSave">...</span></small></p>
        <div class="hidden" id="save-msg"></div>
    </div>
</div>

<div class="work-area">
    <div class="pane left-pane">
        <ul class="nav nav-tabs" role="tablist">
            <li id="collationTableTabHeader" role="presentation" class="nav-item">
                <a role="tab" class="nav-link active" data-toggle="tab" href="#collationtablepanel">Collation Table</a>
            </li>

            <li id="witnessesTabHeader" class="nav-item" role="presentation">
                <a role="tab" class="nav-link" data-toggle="tab" href="#witnessesdiv">Witness Info</a>
            </li>
            <li id="versionHistoryTabHeader"  class="nav-item" role="presentation">
                <a role="tab" class="nav-link" data-toggle="tab" href="#admindiv">Admin</a>
            </li>
            <li id="tabplus"  class="nav-item" role="presentation">
                <a class="nav-link" title="Add new tab"><i class="fas fa-plus"></i></a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active panetab nomargin-panel" id="collationtablepanel">
                <div class="ct-toolbar">
                    <div class="ct-toolbar-section">
                        <div class="ct-toolbar-group" id="mode-toggle">
                        </div>
                        <div class="ct-toolbar-group">
                            <span id="popovers-toggle"></span>
                        </div>
                        <div class="ct-toolbar-group">
                            <span id="normalizations-toggle"></span>
                            &nbsp;
                            <a class="tb-button" href="#" title="Click to choose which normalizations to apply" id="normalizations-settings-button"><i class="fas fa-pen"></i></a>
                        </div>

                    </div>
                    <div>
                        <a id="export-csv-button" class="tb-button"  download="apm-collationtable.csv"
                           title="Download CSV"><small>CSV</small><i class="fas fa-download"></i></a>
                    </div>

                </div>
                <div id="collationtablediv"><div class="loading">Loading table...  <i class="fas fa-circle-notch fa-spin"></i></div></div>
            </div>

            <div role="tabpanel" class="tab-pane panetab" id="witnessesdiv">
                <div class="witnessinfotable"></div>
                <div class="witness-update-div">
                    <span class="witness-update-info"></span>
                    <button class="btn  btn-outline-secondary btn-sm check-witness-update-btn"  title="Click to check for updates to witness transcriptions">Check Now</button>
                </div>
                <div id="convert-to-edition-div">
                    <button id="convert-to-edition-btn" class="btn btn-primary" title="Click to add a main text">Add Main Text</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panetab" id="admindiv">
                <div id="adminopsdiv">
                    <h3>Admin</h3>
                    <ul>
                        <li><button id="archive-table-btn" class="btn btn-danger" title="Click to archive this table/edition">Archive This Table</button></li>
                    </ul>
                </div>
                <h3>Versions</h3>
                <div id="versionhistorydiv"></div>

            </div>
        </div>
    </div>

    <div class="column-gutter"></div>

    <div class="pane right-pane">

        <ul class="nav nav-tabs" role="tablist">
            <li id="editionTabHeader" class="nav-item" role="presentation">
                <a role="tab" class="nav-link active" data-toggle="tab" id="edition-tab-title" href="#editiondiv-panel">Quick Edition</a>
            </li>
            <li id="editionTabHeaderNew" class="nav-item" role="presentation">
                <a role="tab" class="nav-link" data-toggle="tab" id="edition-tab-title-new" href="#editiondiv-panel-new">Edition (beta)</a>
            </li>
            <li id="tabplus"  class="nav-item" role="presentation">
                <a class="nav-link" title="Add New Tab"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active panetab nomargin-panel" id="editiondiv-panel">
                <div class="ct-toolbar">
                    <div>
                    </div>
                    <div>
                        <a id="export-svg-button" class="tb-button"  download="apm-quick-edition.svg"
                           title="Download SVG"><small>SVG</small> <i class="fas fa-download"></i></a>
                        <a id="export-pdf-button" class="tb-button margin-left-med" href="#" download="apm-quick-edition.pdf"
                           title="Download PDF"><small>PDF</small> <i class="fas fa-download"></i></a>
                    </div>
                </div>
                <div id="edition-svg-div">

                </div>
                <div id="edition-engine-info-div"></div>
            </div>
            <div role="tabpanel" class="tab-pane panetab nomargin-panel" id="editiondiv-panel-new">
                <div id="edition-html-container">
                    <div class="loading">Loading edition...  <i class="fas fa-circle-notch fa-spin"></i></div>
                </div>
            </div>
        </div>

    </div>



</div>

<script type="module">
  $(function() {
    let ctData  = JSON.parse("{{collationTableData|json_encode|e('js')}}")
    let peopleInfo = JSON.parse("{{peopleInfo|json_encode|e('js')}}")
    let workInfo = JSON.parse("{{workInfo|json_encode|e('js')}}")
    let docInfo = JSON.parse("{{docInfo|json_encode|e('js')}}")
    let versionInfo = JSON.parse("{{versionInfo|json_encode|e('js')}}")
    let userId = {{ userId }}

      console.group(`Template parameters`)
    console.log(`ctData`)
    console.log(ctData)
    // console.log(`peopleInfo`)
    // console.log(peopleInfo)
    // console.log(`workInfo`)
    // console.log(workInfo)
    // console.log(`docInfo`)
    // console.log(docInfo)
    // console.log(`versionInfo`)
    // console.log(versionInfo)
    console.log('User ID: ' + userId )
    console.groupEnd()

    let te = new CollationTableEditor({
      userId: userId,
      collationTableData : ctData,
      workId: '{{ workId }}',
      chunkNumber: {{ chunkNumber }},
      tableId: {{ tableId }},
      urlGenerator: new ApmUrlGenerator('{{ baseurl }}'),
      peopleInfo: peopleInfo,
      workInfo: workInfo,
      docInfo: docInfo,
      versionInfo: versionInfo
    })
  })
</script>
</body>
</html>