{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Define Pages: {{doc.docInfo.title}}{% endblock %}

{% block extraJS %}
<script type="application/javascript" src="{{baseurl}}/js/dist/DocDefPages.bundle.js"></script>
<script>
    $( () => {
        let pageTypes = JSON.parse('{{pageTypes|json_encode|e('js')}}')
        let urlGenerator = new ApmUrlGenerator('{{baseurl}}')
        new DocDefPages(pageTypes, {{doc.numPages}}, {{doc.docInfo.id}}, urlGenerator,)
    })
</script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('docs')}}">Documents</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('doc.showdoc', {'id' : doc.docInfo.id })}}">{{ doc.docInfo.title}}</a></li>
        <li class="breadcrumb-item active">Define Document Pages</li>
    </ol>
</nav>

<h1>{{doc.docInfo.title}}</h1>
    <h3>Current Pages:</h3>
    <p><em>(NOTE: Ordered by real page number, showing sequence in table)</em></p>
<div class="pagetablediv" id="{{doc.tableId}}">
    {{ macros.pageviewtable2(doc.docInfo.id, doc.pages)}}
</div>

<div class="row with-top-margin">
    <div class="col-md-6" id="pageSettingsFormCol">    
        <h2>Define All Pages</h2>
        <div id="dap-div" class="with-margin-left-sm">
        <form id="dap-form">

        <div id="dap-textpagesrange-fg" class="form-group form-inline without-padding-left">
            Text pages go from page
            <input type="number" class="in-text form-control" id="dap-ftp" value="1" style="width: 90px;" aria-label="From page"/>
             to page
            <input type="number" class="in-text form-control" id="dap-ltp" style="width: 90px;" aria-label="To page"/>
        </div>
            <p class="with-margin-left-sm text-muted">
                Front Matter: <span id="dap-fm-label">-</span><br/>
                Text Pages: <span id="dap-tp-label">1 - {{doc.numPages}}</span><br/>
                Back Matter: <span id="dap-bm-label">-</span>
            </p>
        <div id="dap-overwrite-pt-fg" class="form-group form-check form-inline without-padding-left">
            <input type="checkbox" class="form-check-input" id="dap-overwrite-pt"/>
            <label for="dap-overwrite-pt" class="form-check-label">Overwrite current page types</label>
        </div>

        <div id="dap-createcols-fg" class="form-group form-check form-inline without-padding-left" >
            <input type="checkbox" class="form-check-input" id="dap-createcols" aria-label="Assign columns"/>
            Assign
             <input type="number" class="form-control in-text" aria-label="Number of columns to assign" id="dap-cols" value="1" style="width: 60px;"/> column(s) to each text page
            (won't change current columns)
        </div>

        <div id="dap-foliate-fbm-fg" class="form-group form-check form-inline without-padding-left">
            <input type="checkbox" class="form-check-input" id="dap-foliate-fbm" disabled/>
            <label for="dap-foliate-fbm">Assign foliation to given front/back matter (x1, x2, ...)</label>
        </div>
            <p class="with-margin-left-lg text-muted hidden" id="dap-fmbm-foliation">
               <span id="dap-fm-foliation-label">-</span>
               <span id="dap-bm-foliation-label">-</span>
            </p>

        <div id="dap-foliate-tp-fg" class="form-group form-check form-inline without-padding-left">
            <input type="checkbox" class="form-check-input" id="dap-foliate-tp"/>
            <label for="dap-foliate-tp">Assign foliation to given text pages (1r, 1v, 2r, 2v, ...)</label>
        </div>
            <p class="with-margin-left-lg text-muted hidden" id="dap-tp-foliation">
               <span id="dap-tp-foliation-label"></span>
            </p>

        <div id="dap-overwrite-f-fg" class="form-group form-check form-inline hidden">
           <input type="checkbox" class="form-check-input" id="dap-overwrite-f"/>
            <label for="dap-overwrite-f">Overwrite current page foliation</label>
        </div>


        <button type="button" class="btn btn-primary hidden" id="dap-submit-button" >Go for it!</button>
        <span id="dap-status"></span>
        </form> 

        </div>
    </div>

    <div class="col-md-6">
        <h2>Define Range</h2>
        <div id="dr-div" class="with-margin-left-sm">
        <form id="dr-Form">
    <div id="dr-ftp-fg" class="form-group form-inline">
        From page
        <input type="number" class="in-text form-control" id="dr-fp" value="1" style="width: 90px;" aria-label="From page"/>
         to page
        <input type="number" class="in-text form-control" id="dr-lp" value="10" style="width: 90px;" aria-label="To page"/>
         (real page numbers)
    </div>

    <div id="dr-settype-fg"  class="form-group form-check form-inline without-padding-left">
        <input type="checkbox" class="form-check-input" id="dr-settype" aria-label="Set page type"/>
        Set page type to <select id="dr-pagetypes-select" class="in-text" aria-label="Page type to set"></select>
    </div>

    <div id="dr-foliate-fg" class="form-group form-check form-inline without-padding-left">
        <input type="checkbox" class="form-check-input" id="dr-foliate" aria-label="Assign foliation"/>
        Assign
        <select id="dr-foliation-type-select" class="in-text" aria-label="Foliation type">
            <option value="rv" selected>recto/verso</option>
            <option value="lr">left/right</option>
            <option value="ab">a/b</option>
            <option value="c">consecutive</option>
        </select> foliation starting with
        <input type="number" class="form-control in-text" id="dr-startnum" value="1" style="width: 70px;" aria-label="Foliation starting number"/>
    </div>
    <div id="dr-foliatetp-fg2" class="form-group form-inline with-margin-left-sm">
        <label for="dr-prefix">Prefix:</label><input type="text" class="form-control in-text" id="dr-prefix" style="width: 70px;"/>
        <label for="dr-suffix">Suffix:</label><input type="text" class="form-control in-text" id="dr-suffix" style="width: 70px;"/>
        (spaces will be ignored)
    </div>

    <p class="with-margin-left-lg text-muted hidden" id="dr-foliation-label">
    </p>
    <div id="dr-overwritef-fg" class="form-group form-check  form-inline with-margin-left-sm hidden">
       <input type="checkbox" class="form-check-input" id="dr-overwritef"/>
        <label for="dr-overwritef">Overwrite current page foliation</label>
    </div>
   <div id="dr-reverse-f-fg" class="form-group form-check  form-inline with-margin-left-sm hidden">
       <input type="checkbox" class="form-check-input" id="dr-reverse-f"/>
       <label for="dr-reverse-f">Reverse</label>
   </div>

    <div id="dr-createcols-fg" class="form-group form-check form-inline without-padding-left" >
        <input type="checkbox" class="form-check-input" id="dr-createcols" aria-label="Assign columns to each text page"/>
        Assign <input type="number" class="form-control in-text" id="dr-cols" value="1" style="width: 60px;" aria-label="Number of columns to assign"/> column(s) to each text page
        (won't change current columns)
    </div>

        <button type="button" class="btn btn-primary hidden" id="dr-submit-button">Go for it!</button>
        <span id="dr-status"></span>

    </form> 
    </div>

</div>
</div>
    
<div class="row with-top-margin with-bottom-margin">
    <div class="col-md-6">
        <h2>Add Pages</h2>
        <div id="ap-div" class="with-margin-left-sm">
            <form id="ap-form">
                 <div id="ap-addpages-fg" class="form-group form-inline" >
                    Add <input type="number" class="form-control in-text" id="ap-num-pages" value="0" min="0" max="2000"
                               style="width: 100px;" aria-label="Number of page to add"/> pages at the end of the document
                 </div>
                <button type="button" class="btn btn-primary hidden" id="ap-submit-button">Go for it!</button>
            </form>
            <span id="ap-status"></span>
        </div>
    </div>
</div>
    
{% endblock %}

