{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Doc: {{doc.docInfo.title}}{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/ApmUtil.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/DocShowPage.js"></script>
    <script>
      let chunkInfo = JSON.parse('{{chunkInfo|json_encode|raw}}')
      let works = JSON.parse('{{works|json_encode|raw}}')
      let urlGenerator = new ApmUrlGenerator('{{baseurl}}')
      let docId = parseInt({{ doc.docInfo.id }})
      let lastVersions = JSON.parse('{{lastVersions|json_encode|raw}}')
      let authorInfo = JSON.parse('{{authorInfo|json_encode|raw}}')
      console.log('Chunk Info: ')
      console.log(chunkInfo)
      console.log('Last Version: ')
      console.log(lastVersions)
      console.log('Authors:')
      console.log(authorInfo)
      console.log('Works:')
      console.log(works)


      let docShowPage = new DocShowPage({{ doc.pages|json_encode|raw}}, chunkInfo, lastVersions, works, authorInfo, docId, urlGenerator)

      $(document).ready(function () {

        $('#chunkinfo').html(docShowPage.genWorkInfoHtml())
        $('#pagetablediv').html(docShowPage.getPageTableHtml())
        $('[data-toggle="popover"]').popover({trigger:  'hover', html: true})
        ApmUtil.disableHyperlinks('a.alwaysblack')


      })
    </script>
{% endblock %}

{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{url_for('docs')}}">Documents</a></li>
        <li class="active">Document Details</li>
    </ol>

<h1>{{doc.docInfo.title}}</h1>
    <p class="docinfo">{{macros.langName(doc.docInfo.lang)}} {{macros.docTypeName(doc.docInfo.doc_type)}}, 
        {{doc.numTranscribedPages}} of {{doc.numPages}} pages transcribed
{% if doc.numLines %}
        by
        {% spaceless %}
        {% for editor in doc.editors %}
            <a href="{{url_for('user.profile', {'username' : editor.username})}}" title="View profile">{{editor.fullname}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endspaceless %}{% endif %}</p>
    <p class="docinfo">{{doc.docInfoHtml|raw}}</p>
    <h3 class="docinfo">Pages</h3>
<div id="pagetablediv">
</div>

    <h3 class="docinfo">Works</h3>
    <div class="worksinfo" id="chunkinfo"></div>
    
{% if canDefinePages %}
    <h3>Admin</h3>
    <ul>
        <li><a href="{{url_for('doc.editdoc', {'id' : doc.docInfo.id})}}">Edit / Delete document</a></li>
        <li><a href="{{url_for('doc.definedocpages', {'id' : doc.docInfo.id})}}">Add / Define pages</a></li>
    </ul>
{% endif %}    
{% endblock %}

