{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Doc: {{doc.docInfo.title}}{% endblock %}

{% block content %}
     <ol class="breadcrumb">
         <li><a href="{{url_for('docs')}}">Documents</a></li>
        <li class="active">Document Details</li>
    </ol>

<h1>{{doc.docInfo.title}}</h1>
    <p class="docinfo">{{macros.langName(doc.docInfo.lang)}} {{macros.docTypeName(doc.docInfo.doc_type)}}, 
        {{doc.numTranscribedPages}} of {{doc.numPages}} pages transcribed
{% if doc.numLines %}
        by
        {% spaceless %}
        {% for editor in doc.editors %}
            <a href="{{url_for('user.profile', {'username' : editor.username})}}" title="View profile">{{editor.fullname}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endspaceless %}{% endif %}</p>
    <p class="docinfo">{{doc.docInfoHtml|raw}}</p>
    <p class="docinfo">Pages:</p>
<div class="pagetablediv" id="{{doc.tableId}}">
    {{ macros.pageviewtable(doc.docInfo.id, doc.pages, navByPage)}}
</div>
    
{% if canDefinePages %}
    <h3>Admin</h3>
    <ul>
        <li><a href="{{url_for('doc.editdoc', {'id' : doc.docInfo.id})}}">Edit / Delete document</a></li>
        <li><a href="{{url_for('doc.definedocpages', {'id' : doc.docInfo.id})}}">Add / Define pages</a></li>
    </ul>
{% endif %}    
{% endblock %}

