{% extends "base.twig" %}
{% import 'macros.twig' as macros %}

{% block title %}Documents{% endblock %}

{% block extraJS %}
<script>
$(document).ready(function() 
{ 
    $("#theDocTable").DataTable({ 
        'paging': false, 
        'searching' : true,
        'language': {
            search: 'Filter:'
        }
    }); 
} 
);
</script>
{% endblock %}


{% block content %}
<h1>Documents</h1>
<table class="doctable" id="theDocTable">
    <thead><tr><th>Title</th><th>Type</th><th>Language</th><th>Pages with Transcription Data</th><th>Transcribers</th></tr></thead>
{% for doc in docs %}
    <tr>
        
    <td><a href="{{path_for('doc.showdoc', {'id' : doc.docInfo.id})}}" title="Document details">{{doc.docInfo.title}}</a></td>
    <td>{{macros.docTypeName(doc.docInfo.doc_type)}}</td>
    <td>{{macros.langName(doc.docInfo.lang)}}</td>
    <td>{{doc.numTranscribedPages}} of {{doc.numPages}}</td>
    <td>
    {% if doc.numTranscribedPages %}
        {% for editor in doc.editors %}
            <a href="{{path_for('user.profile', {'username' : editor.username})}}" title="View profile">{{editor.fullname}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}    
    </td>
    </tr>
{% endfor %}
</table>

{% if canManageDocuments %}
    <h3>Admin</h3>
    <ul>
        <li><a href="{{path_for('doc.new')}}">Add New Document</a></li>
    </ul>
{% endif %} 
{% endblock %}

