<div class="transcription-editor">
    <div class="toolbar">
        <button id="clear-button-{{id}}" class="selFmtBtn" title="Clear formatting" disabled><i class="fa fa-eraser"></i></button>
        <button id="rubric-button-{{id}}" class="selFmtBtn" title="Rubric" disabled>R</button>
        <button id="gliph-button-{{id}}" class="selFmtBtn" title="Gliph" disabled>G</button>
        <button id="initial-button-{{id}}" class="selFmtBtn" title="Initial" disabled>I</button>
        <button id="note-button-{{id}}" title="Editorial Note"><i class="fa fa-comment-o"></i></button>
        <button id="sic-button-{{id}}" class="selFmtBtn" title="Sic" disabled><i class="fa fa-frown-o"></i></button>
        <button id="abbr-button-{{id}}" class="selFmtBtn" title="Abbreviation" disabled><i class="fa fa-hand-spock-o"></i></button>
        <button id="add-button-{{id}}" class="selFmtBtn" title="Addition" disabled><i class="fa fa-plus-square"></i></button>
        <button id="del-button-{{id}}" class="selFmtBtn" title="Deletion" disabled><i class="fa fa-minus-square"></i></button>
        <button id="unclear-button-{{id}}" class="selFmtBtn" title="Unclear" disabled><i class="fa fa-low-vision"></i></button>
        <button id="illegible-button-{{id}}" title="Illegible"><i class="fa fa-eye-slash"></i></button>
        <button id="dash-button-{{id}}" title="Dash" disabled><i class="fa fa-minus"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="blockquote-button-{{id}}" title="Marginal Note"><i class="fa fa-quote-right"></i></button>
        <button id="header-button-{{id}}" title="Header"><i class="fa fa-header"></i></button>
        <button class="title-button" disabled>Editor: </button>
        <button id="td-button-{{id}}" title="Click to toggle RtoL-LtoR"><i class="fa fa-align-left"></i></button>
        
    </div>
    <div id="editor-container-{{id}}" class="editor-container"></div>
</div>