{# Some useful macros #}

{% macro pageviewtable(doc, pages) %}
{% spaceless %}
    {% set pagesPerRow = 10 %}
    {% if pages|length > 200 %}
        {% set pagesPerRow = 25 %}
    {% endif %}
    {% set n=0 %}
<table class="pagetable">
    <tr>
    {% for page in pages %}
        {% if n==pagesPerRow %}
    </tr>
    <tr>
            {% set n = 0 %}    
        {% endif%}

        <td class="{{ page.classes }}"><a href="{{ path_for('pageviewer', {'doc' : doc, 'page' : page.number})}}" title="View Page">{{page.foliation}}</a></td>

        {% set n = n+1 %}                                   
    {% endfor %}
    </tr>    
</table>
{% endspaceless %}
{% endmacro %}

{% macro pageviewtablepv(doc, pages) %}
{% spaceless %}
    {% set pagesPerRow = 20 %}
    {% set n=0 %}
<table class="pagetable" style="font-size: 0.9em">
    <tr>
    {% for page in pages %}
        {% if n==pagesPerRow %}
    </tr>
    <tr>
            {% set n = 0 %}    
        {% endif%}

        <td class="{{ page.classes }}"><a href="{{ path_for('pageviewer', {'doc' : doc, 'page' : page.number})}}" title="View Page">{{page.foliation}}</a></td>

        {% set n = n+1 %}                                   
    {% endfor %}
    </tr>    
</table>
{% endspaceless %}
{% endmacro %}

{% macro pageviewtable2(doc, pages) %}
{% spaceless %}
    {% set pagesPerRow = 25 %}
    {% set n=0 %}
<table class="pagetable">
    <tr>
    {% for page in pages %}
        {% if n==pagesPerRow %}
    </tr>
    <tr>
            {% set n = 0 %}    
        {% endif%}

        <td class="{{ page.classes }}">
            <a href="{{ path_for('pageviewer', {'doc' : doc, 'page' : page.number})}}" 
               target="_blank" title="Page {{page.number}}">
                {{page.foliation}}
            </a>
        </td>
        {% set n = n+1 %}                                   
    {% endfor %}
    </tr>    
</table>
{% endspaceless %}
{% endmacro %}


{% macro langName(lang) %}
{% spaceless %}
{% set names = { 'la' : 'Latin', 'he' : 'Hebrew', 'ar': 'Arabic', 'en' : 'English' } %}
{{names[lang]}}
{% endspaceless %}
{% endmacro %}

{% macro docTypeName(type) %}
{% spaceless %}
{% set names = { 'mss' : 'Manuscript', 'print' : 'Print' } %}
{{names[type]}}
{% endspaceless %}
{% endmacro %}