{% import 'macros.twig' as macros %}

<!DOCTYPE html>
<html>
<head>
    <title>Averroes Page Viewer</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=PT+Sans"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/node_modules/@shagstrom/split-pane/split-pane.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/node_modules/quill/dist/quill.snow.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{baseurl}}/css/pageviewer.css" />
    
    <script type="application/javascript" src="{{baseurl}}/node_modules/jquery/dist/jquery.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
    <script type="application/javascript" src="{{baseurl}}/node_modules/@shagstrom/split-pane/split-pane.js"></script>
    <script type="text/javascript" src="{{baseurl}}/node_modules/quill/dist/quill.js"></script>
    
    <script type="application/javascript" src="{{baseurl}}/js/apiurl.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/item.js"></script>
    <script type="application/javascript" src="{{baseurl}}/js/pageviewer.js"></script>
    <link href='{{baseurl}}/images/averroes-icon.png' rel='icon' sizes='16x16' type='image/png'>
    <script>
        pageNumber = {{ page }};
        docId = {{ doc }};
        apiBase = '{{ baseurl }}';
    </script>
</head>
<body>
<div id="viewerheader">
    <table width="100%">
        <tr>
            <td width="40%">
                <a href="{{path_for('home')}}" title="Back to main page"><img src="{{baseurl}}/images/averroes-logo-250.png"></a>
                <span class="textonly" style="margin-left: 30px">{{ docInfo.title}}</span>
            </td>
            <td><ul class="pv-navbar"> 
                    <li style="float: left;">
                        <button class="textonly headerbutton {{ page==1?' disabled':''}}"
                                title="First Page" 
                                onclick="window.location='{{path_for('pageviewer', {'doc': doc, 'page': 1})}}';" {{ page==1 ? ' disabled' : '' }}>
                            <span class="glyphicon glyphicon-step-backward"></span>
                        </button>
                    </li>
                    <li style="float: left;">
                        <button class="textonly headerbutton {{ page==1?' disabled':''}}" 
                                title="Previous Page: {{ page==1?'-':page-1}}" 
                                onclick="window.location='{{path_for('pageviewer', {'doc': doc, 'page': page-1})}}';" {{ page==1 ? ' disabled' : '' }}>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                    </li>
                    <li style="float:left">
                        <button class="textonly headerbutton" id="pagenumber">
                            Page {{page}}
                        </button>
                    </li>
                    <li style="float: left;">
                        <button class="textonly headerbutton {{ page==docPageCount?' disabled':''}}"
                                title="Next Page: {{page+1}}" 
                                onclick="window.location='{{path_for('pageviewer', {'doc': doc, 'page': page+1})}}';" {{ page==docPageCount ? ' disabled' : '' }}>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </li>
                    <li style="float: left;">
                        <button class="textonly headerbutton {{ page==docPageCount?' disabled':''}}" 
                                title="Last Page: {{ docPageCount }}" 
                                onclick="window.location='{{path_for('pageviewer', {'doc': doc, 'page': docPageCount})}}';" {{ page==docPageCount?' disabled':''}}>
                            <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                    </li>

                </ul></td>
            <td>
                <ul class="pv-navbar">
                    <li style="float:left">
                        <button title="Make Text Bigger" class="textonly headerbutton"
                                onclick="changeDocumentFontSize(true);"><span class="glyphicon glyphicon-zoom-in"></span></button>
                    </li>
                    <li style="float:left">
                        <button title="Make Text Smaller" class="textonly headerbutton"
                                onclick="changeDocumentFontSize(false);"><span class="glyphicon glyphicon-zoom-out"></span></button>
                    </li>
                </ul>
            </td>
            <td><ul class="pv-navbar"> 
                    <li style="float: right;">
                        <button title="Exit Viewer" class="textonly headerbutton"
                                onclick="window.location='{{path_for('home')}}';">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                    </li>
                </ul></td>
        </tr>
    </table>
</div> <!-- viewerheader -->
<!-- Page table popover -->
<script>
    $('#pagenumber').popover({title:'Page List', content: '{{macros.pageviewtable(doc, thePages)|escape('js')}}', container: 'body', html: true, placement: 'auto', trigger: 'click'});
</script>
<div id="container">
<div class="split-pane vertical-percent">
    <div class="split-pane-component" id="left-component">
            </div>
            
            <script type="text/javascript">
                var viewer = OpenSeadragon({
                    id: "left-component",
                    prefixUrl: "{{baseurl}}/node_modules/openseadragon/build/openseadragon/images/",
                    tileSources: {
                        type: 'image',
                        url:  '{{imageUrl}}',
                        buildPyramid: false, 
                        homeFillsViewer: true
                    }
                });
            </script>
    <div class="split-pane-divider" id="divider"></div>
    <div class="split-pane-component" id="right-component">
        <ul class="nav nav-tabs" id="tabsUl">
            <li id="pageinfoHeader"><a data-toggle="tab" href="#pageinfoTab">
                    Page Info</a></li>
        </ul>
        <div class="tab-content" id="theTabs">
            <div class="textcol tab-pane pageinfo" id="pageinfoTab">
                <div style="margin-top: 20px">
                <p><strong>Page Number:</strong> {{pageInfo.page_number}}</p>
                <p><strong>Foliation:</strong> {% if pageInfo.foliation %}{{pageInfo.foliation}}{% else %}Undefined{% endif%}</p>
                <p><strong>System Page Id:</strong> {{pageInfo.id}}</p>
                <p><strong>Num Columns:</strong> {{pageInfo.num_cols}}  
                      </p>
                
                <p style="margin-top: 50px">
                 <button type="button" id="addColumnButton" data-toggle="modal" 
                         data-target="#addColumnModal"
                         class="btn btn-primary btn-sm">Add Column</button></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
<!-- Edition modal -->
<div class="modal" id="editItemModal" tab-index="-1" role="dialog"
     aria-labelledby="editItemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" 
                    id="editItemModalLabel">Edit Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="text" id="textLabel" class="control-label">
                            Text:
                        </label>
                        <textarea class="form-control" 
                                  id="text"
                                  name="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="alttext" id="altTextLabel" class="control-label">
                            Alt Text:
                        </label>
                        <textarea class="form-control" 
                                  id="alttext"
                                  name="altext"></textarea>
                    </div>
                </form>
                <p id="editItemData"></p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="btn btn-primary">Submit</button>
                        
                <button type="button" class="btn btn-default" 
                        data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Add column modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addColumnModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-info">Add Column</h4>
      </div>
      <div class="modal-body text-danger">
          <p>Are you sure you want to add a new column to this page?</p>
          <p class="text-warning">It cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="realAddColumnButton">Go for it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>        